/.settings
/*.html
/*.cmm
/*.exe
/*.log
/*.cproject
/*.gitignore
/*.project
/lib/*.lib
/env/*.bat
/env/*.exe
/env/*.key
/env/*.mk
/env/*.xml
/build
/bsp
/env
/Makefile
/build_app/*.obj
/build_app/*.src
/build_app
